# Ignore
.DS_Store
variables.pkr.hcl
ubuntu16.pkrvars.hcl
variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*pkrvars*
config.tf
key.json
terraform/modules/network
*.retry
vault.key
jdauphant.nginx
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
venv/

# Allow
!terraform.example.tfvars
