# Ignore
.DS_Store
variables.pkr.hcl
ubuntu16.pkrvars.hcl
variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
config.tf.*
config.tf
*pkrvars*
key.json
terraform/modules/network
# Allow
!terraform.example.tfvars
